@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-cyan-800 font-medium
}

input, textarea {
  @apply border-2 border-gray-300 rounded-md px-1 w-full;
}

textarea {
  @apply h-16;
}

.text-error{
  @apply text-sm italic text-red-400 font-semibold;
}

input:focus, textarea:focus {
  @apply border-cyan-700 outline-none;
}

.input-border {
  @apply border-light-gray rounded-md hover:border-light-gray-dark;
}


h1 {
  @apply text-2xl mb-2;
}

h2 {
  @apply text-xl mb-2;
}

h3 {
  @apply text-lg mb-1;
}



.page-container {
  @apply bg-white rounded-lg p-4;
}

.list-item {
  @apply inline-flex justify-between items-center border-b-2 border-cyan-500/20 ;
  /* @apply rounded-lg bg-slate-200 px-2 inline-flex justify-between items-center */
}

.btn {
  @apply  border-cyan-600 border-2 focus-visible:outline-cyan-700 hover:shadow-md;
  @apply hover:border-cyan-400 hover:text-cyan-400 focus:bg-cyan-100 hover:-translate-y-[1px];
}

.btn-primary {
  @apply bg-white px-2 py-1 rounded-md;
}

.btn-small {
  @apply border-[2px] rounded;
}

.btn-default, .btn-red {
  @apply text-white px-4 py-1 rounded-md;
}

.btn-default {
  @apply bg-gray-400 border-none hover:text-white hover:border-gray-800;
}

.btn-red {
  @apply bg-red-600 border-none hover:text-white ;
}


.bottomline {
  @apply mb-3 pb-1 border-b-2 border-cyan-900 border-opacity-25;
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
