@tailwind base;
@tailwind components;
@tailwind utilities;

input, textarea {
  @apply border-2 border-gray-300 rounded-md px-1 w-full;
}

input:focus, textarea:focus {
  @apply border-cyan-500 outline-none;
}

h1 {
  @apply text-cyan-900 mb-2 text-lg;
}

label {
  @apply text-cyan-900 mt-2;
}

.btn-primary {
  @apply bg-cyan-900 text-white px-4 py-1 rounded-md focus-visible:outline-none;
}

.btn-default, .btn-red {
  @apply text-white px-4 py-1 rounded-md;
}

.btn-default {
  @apply bg-gray-500;
}

.btn-red {
  @apply bg-red-800 ;
}

table.basic{
  @apply w-full
}

table.basic tr {
  @apply min-h-fit;
}
 /* slate-300
    teal-100
    zinc-300
 */
table.basic thead tr td {
  /* @apply bg-teal-100; */
  @apply bg-sky-200;
}

table.basic tr td{
  @apply border border-sky-200;
}

table.basic a{
  @apply bg-cyan-700 text-white text-sm p-1 rounded-md m-1 inline-flex;
}

.bottomline {
  @apply border-b-2 border-cyan-900 border-opacity-25;
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
