@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-cyan-800 font-medium
}
.anan {
  background-color: rgb(227, 247, 248);
}

input, textarea {
  @apply border-2 border-gray-300 rounded-md px-1 w-full;
}

textarea {
  @apply h-16;
}

input:focus, textarea:focus {
  @apply border-cyan-700 outline-none;
}

.input-border {
  @apply border-light-gray rounded-md hover:border-light-gray-dark;
}


h1 {
  @apply  mb-2 text-lg;
}

label {
  @apply  mt-2;
}

.page-container {
  @apply bg-white rounded-lg p-4;
}

.list-item {
  @apply inline-flex justify-between items-center border-b-2 border-cyan-500/20 ;
  /* @apply rounded-lg bg-slate-200 px-2 inline-flex justify-between items-center */
}

.btn-primary {
  @apply bg-white border-cyan-600 border-2 px-4 py-1 focus-visible:outline-cyan-700; 
  @apply rounded-md hover:shadow-md hover:border-cyan-400 hover:text-cyan-400 focus:bg-cyan-100 hover:-translate-y-[1px];
}

.btn-default, .btn-red {
  @apply text-white px-4 py-1 rounded-md;
}

.btn-default {
  @apply bg-gray-500;
}

.btn-red {
  @apply bg-red-800 ;
}


.bottomline {
  @apply border-b-2 border-cyan-900 border-opacity-25;
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
